{{#if isEdit}}
<h1>Edit Product</h1>
{{else}}
<h1>Add Product</h1>
{{/if}}

<form action="/products/upsert" method="post">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  
  {{#if product}}
  <input type="hidden" name="productid" value="{{product.productid}}">
  {{/if}}
  
  <div>
    <label for="name">Product Name:</label>
    <input type="text" id="name" name="name" value="{{product.name}}" required>
  </div>
  
  <div>
    <label for="price">Price:</label>
    <input type="number" step="0.01" id="price" name="price" value="{{product.price}}" required>
  </div>
  
  <div>
    <label for="size">Size:</label>
    <input type="text" id="size" name="size" value="{{product.size}}">
  </div>
  
  <button type="submit">Save</button>
</form>

<a href="/products">Back to Products</a>